aiohttp==2.2.5
async-timeout==2.0.0
beautifulsoup4==4.6.0
certifi==2018.1.18
cffi==1.11.4
chardet==3.0.4
discord.py==1.0.0a1428+g4fef6fc
idna==2.6
multidict==4.0.0
pycparser==2.18
PyNaCl==1.1.2
requests==2.20
six==1.11.0
urllib3==1.24.2
websockets==3.4
wikipedia==1.4.0
yarl==1.1.0
